<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.member.mapper.MemberrechargeMapper">
<resultMap id="Memberrecharge" type="org.jeecg.modules.member.entity.Memberrecharge">


</resultMap>
<select id="queryRechargeRecord" parameterType="String"  resultMap="Memberrecharge">
   select * from (
     select
        t.ID,t.mb_cardcode,b.mb_cardname,c.fd_name as czfd,t.fd_code as czfd_code,t.cc_money,t.sy_money,t.ca_money,t.kq_money,t.fk_type,t.sy_men,t.sy_time,t.op_type
        from mb_ccfk t
        left join mb_member b on b.mb_cardcode=t.mb_cardcode
        left join ls_company c on c.fd_code=t.fd_code
        where t.sy_time >= '2019-04-01 12:00:00'
        and t.sy_money > 0 and t.cc_money>0  and ca_money>0
        <if test="mbCardcode!=null and mbCardcode!=''">
            and t.mb_cardcode = #{mbCardcode}
        </if>
        <if test="syTime!=null and syTime!=''">
            and t.sy_time <![CDATA[ <= ]]> #{syTime}
        </if>

   ) tb

    order by tb.sy_time DESC

</select>
</mapper>